@import "tailwindcss";

@theme {
  --font-sans: var(--font-rubik), sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-rubik: "Rubik", sans-serif;
}

body {
  font-family: var(--font-sans);
}
